<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<script>
    function checkpass(){
        if(document.getElementById('password').value != document.getElementById('password1').value){
            document.getElementById('invalidpassmessage').style.display = "block";
            return false;
        }
        else{
            document.getElementById('invalidpassmessage').style.display = "hide";
            return true;
        }

    }
</script>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center">Register</h2>
            <form class="form-signin " method="POST" action="/register" onsubmit="return checkpass()">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{username}}" required>
                    <p class="text-center text-danger">
                        {{message}}
                    </p>
                </div>
               
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                
                <div class="form-group">
                    <label for="password1">Confirm Password:</label>
                    <input type="password" class="form-control" id="password1" name="password1" required>
                    <div id="invalidpassmessage" class="collapse">Passwords don't match</div>
                </div>
                <button type="submit" class="btn btn-primary btn-block" onclick="">Register</button>
            </form>
            <p class="text-center">
                Already have an account? <a href="/login">Login</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>
